body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

header.top {
  background-color: 	#675c47;
  margin:           	10px 10px 0px 10px;
  height:           	108px;
  border-radius:		5px;
}

header.top img#headerSlogan {
	float:	right;
}

#award {
	position:		absolute;
	top:			9%;
	left:			40%;
}

div#tableContainer {
	display:		table;
	border-spacing:	10px;
}
div#tableRow {
	display:		table-row;
}

section#drinks {
	display:			table-cell;
	background-color:	#efe5d0;
	width:				20%;
	padding:			15px;
	vertical-align:		top;		/*为每个单元格增加垂直对齐：top（顶端对齐）、middle（中间对齐）、bottom（底端对齐）*/
}

#coupon {
	position:			relative;
	top:				20px;
	left:				-115px;
}

#coupon a, img {
	border:				none;
}

section#main, section#blog {
  display:			table-cell;
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  vertical-align:	top;
}

aside {
  display:			table-cell;
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  vertical-align:	top;
}

footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  font-size:        90%;
  border-radius:	5px;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}


nav {
	background-color:	#efe5d0;
	margin:				10px 10px 0px 10px;
}

nav ul {
	margin:				0px;					/*设置ul外边距为0px，使得其能紧贴nav元素中（否则默认时<ul>元素会有外边距让<ul>稍稍偏离）*/
	list-style-type:	none;					/*此处为删除列表项的项目符号*/
	padding:			5px 0px 5px 0px;
}

nav ul li {
	display:			inline;					/*此处为将各个列表项的显示从block改为inline，所以现在列表项前后不会再有回车，而是会显示在一行中*/
	padding:			5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {					/*此处为设置导航中的连接与页面其它的连接有所不同*/
	color:				#954b4b;
	border-bottom:		none;
	font-weight:		bold;
}

nav ul li.selected {
	background-color:	#c8b99c;				
}
